<!DOCTYPE HTML>
<html> 
	<head>
	{% load static %}
-		{% load widget_tweaks %}
		<title>Profile</title>
		<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
-		<link href="{% static 'css/theme-style.css' %}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="images/fav-icon.png" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
		<!--//webfonts-->
		<!--requred-js-files-->
	    <script src="{% static 'js/jquery.min.js' %}"></script>
-	    <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!--//requred-js-files-->
	</head>
	<body>
	<nav class="navbar navbar-inverse" style="background-color:#79b0f3;border-color: #E7E7E7;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <!-- <li><a href="#"><img src="/static/image/vmc_logo.png" style="height:50px"></a></li> -->
                <li><a href="/" style="color: #fff;font-size:30px;line-height: 50px;">Home </a></li>
                <!--<li><a href="#" style="color: #fff;font-size:30px;line-height: 50px;">Link</a></li>-->
            </ul>

        </div>
        </div>
        </nav>

				<div class="container">
				    <div class="row profile">
						<div class="col-md-3">
							<div class="profile-sidebar">
								<!-- SIDEBAR USERPIC -->
								<div class="profile-userpic">
									{% if a.gender == 'M' %}
									<img src="{% static 'images/male.png' %}" class="img-responsive" alt="">
									{% elif a.gender == 'F'%}
									<img src="{% static 'images/female.jpg' %}" class="img-responsive" alt="">
									{% else %}
									<img src="{% static 'images/male.png' %}" class="img-responsive" alt="">
									{% endif %}

								</div>
								<!-- END SIDEBAR USERPIC -->
								<!-- SIDEBAR USER TITLE -->
								<div class="profile-usertitle">
									<div class="profile-usertitle-name">
										Marcus Doe<!-- NAME -->
									</div>
									<div class="profile-usertitle-job">
										<!-- JOB -->
									</div>
								</div>
								<!-- END SIDEBAR USER TITLE -->
								<!-- SIDEBAR BUTTONS -->
								
								<!-- END SIDEBAR BUTTONS -->
								<!-- SIDEBAR MENU -->
								<div class="profile-usermenu">
									<ul class="nav">
										<li>
											<a href="#">
											<i class="glyphicon glyphicon-user"></i>
											Account Settings </a>
										</li>
										<li>
											<a href="#" target="_blank">
											<i class="glyphicon glyphicon-ok"></i>
											Schemes Applied </a>
										</li>
										<li>
											<a href="#">
											<i class="glyphicon glyphicon-flag"></i>
											Help </a>
										</li>
									</ul>
								</div>
								<!-- END MENU -->
							</div>
						</div>
						<div class="col-md-9">
				            <div class="profile-content">
							   <!--Put for loop for schemes-->
							    <center><img src="{% static 'images/beema.jpg' %}" class="img-responsive" width="90%"><center>
							  	<br>
							  	<br>
							  	<center><img src="{% static 'images/fasal.jpg' %}" class="img-responsive" width="90%"><center>
							  	<br>
							  	<br>
							  	<center><img src="{% static 'images/suraksha.jpg' %}" class="img-responsive" width="90%"></center>
							  	<br>
				            </div>
						</div>
					</div>
				</div>
				
				<br>
				<br>

				<!--start-footer-->
				<div class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 footer-left">
								<ul>
									<li><a href="#"><img src="{% static 'images/footer-logo.png' %}" title="logo" /></a></li>
									
								</ul>
							</div>
							<div class="col-md-6 footer-right">
								<ul>
									<li><a class="twitter" href="#"><span> </span></a></li>
									<li><a class="facebook" href="#"><span> </span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//End-footer-->
			<!--//End-container-->
		
	<!--start-bg-->
	</body>
	</html>